.circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px;
  grid-gap: 50px;
  cursor: pointer;
}

.row {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  flex-direction: row;
  border: 3px solid;
  text-align: center;
  padding: 10px;
  line-height: 100px;
}

.red {
  background-color: red;
  color: red;
}

.blue {
  background-color: blue;
  color: blue;
}

.green {
  background-color: darkgreen;
  color: darkgreen;
}

.yellow {
  background-color: yellow;
  color: yellow;
}

.orange {
  background-color: orange;
  color: orange;
}

.black {
  background-color: black;
  color: black;
}